<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BCR.SIGANEM.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--GENERAL-->
    <add key="RowCount" value="16"/>
    <add key="Culture" value="es-ES"/>
    <add key="ExpiracionWCF" value="10"/>
    <add key="FormatoFecha" value="dd/MM/yyyy"/>
    <add key="MostrarErrorTecnico" value ="true"/>
    <!--CONSULTA BCCR-->
    <add key="SistemaTC" value="317"/>
    <!--<add key="SistemaIPC" value="979"/>-->
    <add key="SistemaIPC" value="25482"/>
    <!--SERVICIOS WEB-->
    <!--<add key="SeguridadWS" value="http://desiganem-app:12000/SiganemSeguridadWS.asmx"/>-->
    <add key="SeguridadWS" value="http://localhost:62784/BCR.SIGANEM.WS/SiganemSeguridadWS.asmx"/>
    <add key="BCRMQWS" value="http://usmq-app:16000/WSMQ/WSMQ.asmx"/>
    <!--<add key="IndicadoresWS" value="http://desiganem-app:12000/SiganemIndicadoresWS.asmx"/>-->
    <add key="IndicadoresWS" value="http://localhost:62784/BCR.SIGANEM.WS/SiganemIndicadoresWS.asmx"/>
    <add key="ConfiguracionWS" value="http://localhost:62784/BCR.SIGANEM.WS/SiganemConfiguracionWS.asmx"/>
    <add key="BCRClientesWS" value="http://desiganem-app:12000/SiganemBCRClientesWS.asmx"/>
    <!--<add key="BCRClientesWS" value="http://localhost:62784/BCR.SIGANEM.WS/SiganemBCRClientesWS.asmx"/>-->
    <!--<add key="GarantiasWS" value="http://desiganem-app:12000/SiganemGarantiasWS.asmx"/>-->
    <add key="GarantiasWS" value="http://localhost:62784/BCR.SIGANEM.WS/SiganemGarantiasWS.asmx"/>
    <!--<add key="SesionesWCF" value="http://localhost:62784/BCR.SIGANEM.WS/SiganemSesionesWCF.asmx"/>-->
    <!--<add key="SesionesWCF" value="http://desiganem-app:12000/SiganemSesionesWCF.asmx"/>-->
    <add key="SesionesWCF" value="http://localhost:62784/BCR.SIGANEM.WS/SiganemSesionesWCF.asmx"/>
    <add key="ListasWS" value="http://localhost:62784/BCR.SIGANEM.WS/SiganemListasWS.asmx"/>
    <add key="ConsultasWS" value="http://localhost:62784/BCR.SIGANEM.WS/SiganemConsultasWS.asmx"/>
    <!--<add key="ConsultasWS" value="http://desiganem-app:12000/SiganemConsultasWS.asmx"/>-->
    <!--REPORTES-->
    <add key="ServidorReportes" value="https://usreportesweb/Reportserver"/>
    <add key="CarpetaReportes" value="deSiganem/SIGANEM_rpts"/>

    <!--CREDENCIALES PARA ACCEDER A LA CARPETA DE ARCHIVOS-->
    <add key="Dominio" value="bcr"/>
    <add key="UsuarioDominio" value="113350267"/>
    <add key="PasswordDominio" value="Gmas2009"/>
    <!--<add key="UsuarioDominio" value="113370655"/>
    <add key="PasswordDominio" value="gmasSP1400"/>-->
    <!--<add key="UsuarioDominio" value="DesGarantias"/>
    <add key="PasswordDominio" value="864aj57.Gar"/>-->
    <!--DESCARGA DE ARCHIVOS-->
    <add key="CarpetaTemporal" value="~/Temporal"/>
    <add key="DescargaArchivosDBF" value="\\bcr0106des81\desarrollo\desGarantias"/>
    <add key="CargaArchivos" value="\\bcr0106des81\desGarantias\Fideicomisos\"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!--<customErrors mode="Off"/>-->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Aplicacion/Error.aspx" redirectMode="ResponseRedirect"/>
    <compilation debug="true" batch="false" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <globalization uiCulture="en" culture="en-US"/>
    <httpRuntime maxRequestLength="300000" />
  </system.web>
  <!--<system.webServer>
    <security>
      <requestFiltering>
        --><!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb--><!--
        <requestLimits maxAllowedContentLength="102428800" />
          <httpRuntime maxRequestLength="32768" />
      </requestFiltering>
    </security>
  </system.webServer>-->
  <location path="Aplicacion">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Library">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>