<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
    <configSections>
        <section name="EsquemaEjecucion" type="BCR.SIGANEM.wsaIndicadores.Utilidades.Calendarizacion, BCR.SIGANEM.wsaIndicadores" requirePermission="false" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BCR.SIGANEM.wsaIndicadores.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>        
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BCR.SIGANEM.wsaIndicadores.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BCR.SIGANEM.wsaIndicadores.Properties.Settings>
            <setting name="Culture" serializeAs="String">
                <value>es-ES</value>
            </setting>
            <setting name="SistemaTC" serializeAs="String">
                <value>317</value>
            </setting>
            <setting name="SistemaIPC" serializeAs="String">
                <value>25482</value>
            </setting>
            <setting name="IntervaloEjecucion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NombreServicio" serializeAs="String">
                <value>BCR.deSIGANEM.wsaIndicadores</value>
            </setting>
        </BCR.SIGANEM.wsaIndicadores.Properties.Settings>
    </userSettings>
    <EsquemaEjecucion Esquema="SEMANAL">
        <!--ESQUEMA DE EJECUCION DEL SERVICIO-->
        <Semanal>
            <Lunes Hora="05:00"/>
            <Martes Hora="05:00"/>
            <Miercoles Hora="05:00"/>
            <Jueves Hora="05:00"/>
            <Viernes Hora="05:00"/>
            <Sabado Hora="05:00"/>
            <Domingo Hora="05:00"/>
        </Semanal>
    </EsquemaEjecucion>
    <applicationSettings>
        <BCR.SIGANEM.wsaIndicadores.Properties.Settings>
            <setting name="SiganemIndicadoresWS" serializeAs="String">
                <value>http://desiganem-app:12000/SiganemIndicadoresWS.asmx</value>
            </setting>
        </BCR.SIGANEM.wsaIndicadores.Properties.Settings>
    </applicationSettings>
</configuration>
