<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BCR.SIGANEM.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--GENERAL-->
		<add key="RowCount" value="16"/>
		<add key="Culture" value="es-ES"/>
		<add key="ExpiracionWCF" value="10"/>
		<add key="FormatoFecha" value="dd/MM/yyyy"/>
		<add key="MostrarErrorTecnico" value ="true"/>
		<!--CONSULTA BCCR-->
		<add key="SistemaTC" value="317"/>
		<add key="SistemaIPC" value="25482"/>		
		<!--SERVICIOS WEB-->
		<add key="SeguridadWS" value="http://bcrsiganem-app:28000/SiganemSeguridadWS.asmx"/>
		<add key="ConfiguracionWS" value="http://bcrsiganem-app:28000/SiganemConfiguracionWS.asmx"/>
		<add key="BCRClientesWS" value="http://bcrsiganem-app:28000/SiganemBCRClientesWS.asmx"/>
		<add key="GarantiasWS" value="http://bcrsiganem-app:28000/SiganemGarantiasWS.asmx"/>
		<add key="SesionesWCF" value="http://bcrsiganem-app:28000/SiganemSesionesWCF.asmx"/>
		<add key="ListasWS" value="http://bcrsiganem-app:28000/SiganemListasWS.asmx"/>
		<add key="ConsultasWS" value="http://bcrsiganem-app:28000/SiganemConsultasWS.asmx"/>
		<add key="BCRMQWS" value="http://usmqws/WSMQ/WSMQ.asmx"/>
		<add key="IndicadoresWS" value="http://bcrsiganem-app:28000/SiganemIndicadoresWS.asmx"/>     
		<!--REPORTES-->
		<add key="ServidorReportes" value="https://bcrrepotesweb/Reportserver"/>
		<add key="CarpetaReportes" value="Siganem/SIGANEM_rpts"/>
		<!--CREDENCIALES PARA ACCEDER A LA CARPETA DE ARCHIVOS-->
		<add key="UsuarioDominio" value="SIGANEM"/>
		<add key="PasswordDominio" value="[Clave_usuario_Dominio]"/>
		<!--DESCARGA DE ARCHIVOS-->
		<add key="CarpetaTemporal" value="~/Temporal"/>
		<add key="DescargaArchivosDBF" value="\\bcr.fi.cr\aplicaciones\0544\SIGANEM"/>
	</appSettings>
	<connectionStrings/>
  <system.web>
  <httpRuntime maxRequestLength="300000" />
    <!--<customErrors mode="Off"/>-->
	<customErrors mode="On" defaultRedirect="~/Aplicacion/Error.aspx" redirectMode="ResponseRedirect"/>
    <compilation debug="false" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <globalization uiCulture="en" culture="en-US"/>
    <machineKey decryptionKey="C25755287D55ADFF559ED08897230303825AF69BEFA2346A" validationKey="7D556A3A367089F5DEA179F2FEE246E9EF0EA8224B5D04C43EB4F8CEB01DBA3782B642C978F5A05B070E404476F43AE37ABAE12793B2C75FD9E480252C75DDE8" />
  </system.web>
    <system.webServer>
    <security>
      <requestFiltering>
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="102428800" />
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="Paginas">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
	<location path="Aplicacion">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Library">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>