<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SICC" connectionString="Data Source=bcr0106dbe81,10000;Initial Catalog=SICC;User Id=AccesoGarantias;Password=123456Aa;"/>
    <add name="SIGANEM" connectionString="Data Source=deSIGANEM-bd,10000;Initial Catalog=SIGANEM;User Id=AccesoSIGANEM;Password=123456Aa;"/>
    <add name="SIGANEM_BITACORA" connectionString="Data Source=deSIGANEM-bd,10000;Initial Catalog=SIGANEM_BITACORA;User Id=AccesoSIGANEM;Password=123456Aa;"/>
    <!--<add name="SIGANEM" connectionString="Data Source=deSIGANEM-bd,10000;Initial Catalog=USSIGANEM;User Id=AccesoUSSIGANEM;Password=123456Aa;"/>
    <add name="SIGANEM_BITACORA" connectionString="Data Source=deSIGANEM-bd,10000;Initial Catalog=USSIGANEM_BITACORA;User Id=AccesoUSSIGANEM;Password=123456Aa;"/>-->
    <add name="SIEFHIST" connectionString="Data Source=192.168.162.232,10000;Initial Catalog=SIEF_HIST;User Id=SIEFBCR;Password=siefbcr;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="65000"/>
    </connectionManagement>
  </system.net>
  <appSettings>
    <!--GENERAL-->
    <add key="SistemaWCF" value="9010AF8B-550A-4CCB-BE3D-00878585D5E8"/>
    <add key="ExpiracionWCF" value="10"/>
    <add key="EventoSIGANEM" value="SIGANEM"/>
    <add key="CredWCF" value="bcr.fi.cr;InternetBankingDes;]FG3OMdytt1"/>
    <!--<add key="ProxyBCR" value="10.1.15.10:80"/>-->
    <add key="ProxyBCR" value=""/>
    <add key="Culture" value="es-ES"/>
    <!--SERVICIOS WEB-->
    <add key="MQServicioWS" value="http://usmq-app:16000/WSMQ/WSMQ.asmx"/>
    <add key="ActiveDirectoryWS" value="http://bcr0106lab82/bcr.servicios.web/activedirectory.asmx"/>
    <add key="SICCClientesWS" value="http://bcr0106wsv81:12000/bcr.ruc.servicios/wsruc.asmx"/>
    <add key="wsIndicadorEconomico1" value="http://201.193.44.108/indicadoreseconomicos/WebServices/wsIndicadoresEconomicos.asmx"/>
    <add key="wsIndicadorEconomico2" value="http://201.193.215.148/indicadoreseconomicos/WebServices/wsIndicadoresEconomicos.asmx"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioConsulta" />
        <binding name="BasicHttpBinding_IConsulta" />
        <binding name="BasicHttpBinding_ISvAdministrarSesiones" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServicioConsulta" />
        <binding name="NetTcpBinding_IConsulta">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ISvAdministrarSesiones">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IConsulta">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bcr0106acl91.bcr.fi.cr:12001/bcr.clientes.consultas/BCR.BCRClientes.ServicioConsulta.SVL.ServicioConsulta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioConsulta"
        contract="BCRClientesWCF.IServicioConsulta" name="BasicHttpBinding_IServicioConsulta" />
      <endpoint address="net.tcp://bcr0106acl91.bcr.fi.cr:14001/bcr.clientes.consultas/BCR.BCRClientes.ServicioConsulta.SVL.ServicioConsulta.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioConsulta"
        contract="BCRClientesWCF.IServicioConsulta" name="NetTcpBinding_IServicioConsulta">
        <identity>
          <servicePrincipalName value="host/BCR0106ACL91.bcr.fi.cr" />
        </identity>
      </endpoint>
      <endpoint address="http://bcr0106acl82.bcr.fi.cr:12000/bcr.clientes.ws/BCR.BCRClientes.Consulta.SVL.Consulta.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsulta"
        contract="ClientesWCF.IConsulta" name="BasicHttpBinding_IConsulta" />
      <endpoint address="net.tcp://bcr0106acl82.bcr.fi.cr:14000/bcr.clientes.ws/BCR.BCRClientes.Consulta.SVL.Consulta.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConsulta"
        contract="ClientesWCF.IConsulta" name="NetTcpBinding_IConsulta" />
      <endpoint address="http://bcr0106acl82.bcr.fi.cr:12000/bcr.clientes.ws/BCR.BCRClientes.Consulta.SVL.Consulta.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConsulta"
        contract="ClientesWCF.IConsulta" name="WSHttpBinding_IConsulta">
        <identity>
          <dns value="declientes360-app:12000" />
        </identity>
      </endpoint>
      <endpoint address="http://usServiciosGenerales-app:16001/BCR.ServiciosGenerales.SVL.SvAdministrarSesiones.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvAdministrarSesiones"
        contract="ServicioSesionesWCF.ISvAdministrarSesiones" name="BasicHttpBinding_ISvAdministrarSesiones" />
      <endpoint address="net.tcp:/usServiciosGenerales-app:19001/BCR.ServiciosGenerales.SVL.SvAdministrarSesiones.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISvAdministrarSesiones"
        contract="ServicioSesionesWCF.ISvAdministrarSesiones" name="NetTcpBinding_ISvAdministrarSesiones" />
    </client>
  </system.serviceModel>
</configuration>