<?xml version="1.0"?>
<configuration>
	<connectionStrings>
        <add name="SICC" connectionString="Data Source=172.30.20.10,10000;Initial Catalog=SICC;User Id=Garantias;Password=[Credencial asignado];"/>
		<add name="SIGANEM" connectionString="Data Source=bcrsiganem-bd,10000;Initial Catalog=SIGANEM;User Id=AccesoSIGANEM;Password=[Credencial asignado];" />
		<add name="SIGANEM_BITACORA" connectionString="Data Source= BCRSIGANEM-BD,10000;Initial Catalog=SIGANEM_BITACORA;User Id=AccesoSIGANEM;Password=[Credencial asignado];"/>
		<add name="SIEFHIST" connectionString="Data Source=BCR0683SIEF51,10000;Initial Catalog=SIEF_HIST;User Id=AccesoSIGANEM;Password=[Credencial asignado];"/>
	</connectionStrings>
	<system.web>
	<httpRuntime maxRequestLength="100" />
        <customErrors mode="Off" />
	    <compilation debug="false" targetFramework="4.0">
		    <assemblies>
			    <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
		    </assemblies>
	    </compilation>
	    <authentication mode="Windows"/>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <machineKey decryptionKey="15C7D0C383A2EF953EAEBE82C9E0BA03A65709DE52054D8D" validationKey="EB46DAAAC09174F0B52746CAC29E57C0D26EA7B427E66460088BA50EEDE61934F34821FBF2114AA395625603B68785BBEB09205EABBE321CD2CB93F474CE74CC" />
	</system.web>
	<system.net>
 	<connectionManagement>
            <add address="*" maxconnection="65000" />
        </connectionManagement>
	</system.net>
	<appSettings>
		<!--SERVICIO WCF-->
	<add key="Culture" value="es-ES"/>
        <add key="SistemaWCF" value="9010AF8B-550A-4CCB-BE3D-00878585D5E8"/>
        <add key="ExpiracionWCF" value="10"/>
        <add key="EventoSIGANEM" value="SIGANEM"/>
        <add key="CredWCF" value="bcr.fi.cr;InternetBankingDes;]FG3OMdytt1"/>
		<add key="ProxyBCR" value=""/>
		<!--SERVICIOS WEB-->
		<add key="MQServicioWS" value="http://usmqws/WSMQ/WSMQ.asmx"/>
		<add key="ActiveDirectoryWS" value="http://bcrservicios-app/bcr.servicios.web/activedirectory.asmx"/>
		<add key="SICCClientesWS" value="http://bcrruc-app:8082/bcr.ruc.servicios/wsruc.asmx"/>
        <add key="wsIndicadorEconomico1" value="http://201.193.44.108/indicadoreseconomicos/WebServices/wsIndicadoresEconomicos.asmx"/>
        <add key="wsIndicadorEconomico2" value="http://201.193.215.148/indicadoreseconomicos/WebServices/wsIndicadoresEconomicos.asmx"/>		
	</appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioConsulta" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				 useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
						 realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISvAdministrarSesiones" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				 useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
						 realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
	<binding name="BasicHttpBinding_IConsulta" closeTimeout="00:01:00"
                         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                         allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                         maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                         useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                               maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                                     realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
         </binding> 
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServicioConsulta" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
				 hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
				 maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ISvAdministrarSesiones" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
				 hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
				 maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
	<binding name="NetTcpBinding_IConsulta" closeTimeout="00:01:00"
                         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                         transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                         hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
                         maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                               maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                               enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding> 
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://bcrclientesplus-app:24004/bcr.clientes.ws/BCR.BCRClientes.Consulta.SVL.Consulta.svc"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioConsulta"
			 contract="BCRClientesWCF.IServicioConsulta" name="BasicHttpBinding_IServicioConsulta" />
      <endpoint address="net.tcp://bcrclientesplus-app:24004/bcr.clientes.ws/BCR.BCRClientes.Consulta.SVL.Consulta.svc"
			 binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioConsulta"
			 contract="BCRClientesWCF.IServicioConsulta" name="NetTcpBinding_IServicioConsulta">
        <identity>
          <!--<servicePrincipalName value="host/usclientes360-app" />-->
          <!--ERROR de SSPI-->
          <servicePrincipalName value="host/bcrclientesplus-app" />
        </identity>
      </endpoint>
	  <endpoint address="http://bcrServiciosGenerales-app:24001/BCR.ServiciosGenerales.SVL.SvAdministrarSesiones.svc"
				binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvAdministrarSesiones"
				contract="ServicioSesionesWCF.ISvAdministrarSesiones" name="BasicHttpBinding_ISvAdministrarSesiones" />
	  <endpoint address="net.tcp://bcrServiciosGenerales-app:24001/BCR.ServiciosGenerales.SVL.SvAdministrarSesiones.svc"
		binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISvAdministrarSesiones"
		contract="ServicioSesionesWCF.ISvAdministrarSesiones" name="NetTcpBinding_ISvAdministrarSesiones" />
	  
	<endpoint address="http://bcrclientesplus-app:24004/bcr.clientes.ws/BCR.BCRClientes.Consulta.SVL.Consulta.svc/basic" 
     binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsulta" 
     contract="ClientesWCF.IConsulta" name="BasicHttpBinding_IConsulta"/>
   <endpoint address="net.tcp://bcrclientesplus-app:24004/bcr.clientes.ws/BCR.BCRClientes.Consulta.SVL.Consulta.svc" 
     binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConsulta" 
     contract="ClientesWCF.IConsulta" name="NetTcpBinding_IConsulta">
     <identity>
        <!--<servicePrincipalName value="host/usclientes360-app" />-->
        <!--ERROR de SSPI-->
        <servicePrincipalName value="host/bcrclientesplus-app" />
     </identity>
    </endpoint>

    </client>
  </system.serviceModel>
</configuration>